<div class="container">
    <div class="header">


        <div class='left'>
            <ul class="header-ul">
                <li><a href="">News</a></li>
                <li><a href="">Life</a></li>
                <li><a href="">Sport</a></li>
                <li><a href="">Travel</a></li>
                <li><a href="">Guide</a></li>
                <li><a href="">Edu</a></li>
                <li><a href="">Auto</a></li>
            </ul>
        </div>
    </div>


    <div class="menu">
        <div class="mini-menu">
            <div class="burger"><img src="https://tengrinews.kz/edu/img/burger.svg" alt="" /></div>
            <div class="logo"><img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt="" /></div>
            <a class='news' >Новости</a>
            <a class='articles'>Статьи</a>
            <a class='info'> Что будет с Казахстаном?</a>
            <div class="language"><img src="https://tengrinews.kz/tengri_new/img/menu-lang.svg" alt="" /></div>
            <div class="search"><img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt="" /></div>
        </div>
    </div>

    <div class="whatsapp">
        <div class="line">Подписывайтесь на канал Tengrinews.kz в WhatsApp  </div>
    </div>

    <div class='main'>

        <div class="time_container">
            <div class="time">
                <p>ww</p>
            </div>
        </div>

        <div class="main_title">
            <p>ll</p>
        </div>

        <div class='statistics'>
            <div class="view">
                <img class='img' src="https://tengrinews.kz/tengri_new/img/circle-viewings.svg" alt="" />
                <p class="number_of_view">kk</p>
                <img src="https://tengrinews.kz/tengri_new/img/circle-comments.svg" alt="" className="img_comment" />
                <p class="number_of_comment">4</p>
                <img src="https://tengrinews.kz/tengri_new/img/circle-share.svg" alt="" className="img_repost" />
            </div>
        </div>

        <div class="im_news">
            <img src="" alt="Фото ©️ Tengrinews.kz / Турар Казангапов" />
        </div>

        <div class="content">
            <p>ll</p>
        </div>

    </div>

</div>