<div class="Global">
    <div class="main_global">
        <header class="headerHome">
            <div class="header_sub container">
                <div class="headerComponent">
                    <a href="">NEWS</a>
                    <a [routerLink]="['/travel']" href="">TRAVEL</a>
                   
                </div>
                <div class="headerComponent2">
                    <a class="header_sub_links_item" href="https://tengrinews.kz/page/contact/">Редакция<img src="https://tengrinews.kz/tengri_new/img/phone.svg"> +7 (777) 777 77 77</a>
                    <a class="header_sub_links_item" href="https://alashmg.kz/ru/advertising/project/tengrinews">Реклама</a>
                </div>
            </div>
        </header>
        <main>
            <div class="menu">
                <div class="menu_nav">
                    <div class="menu_burger active" (click)="navigateToComponent()">
                       <a><img src="https://tengrinews.kz/edu/img/burger.svg" alt="" *ngIf="this.flag"></a> 
                       <a><img src="https://tengrinews.kz/edu/img/burger-x.svg" alt="" *ngIf="!this.flag"></a> 
                    </div>
                    <a class="menu_logo" href=""> <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt=""></a>
                    <a class="menu_nav_item" href="">Новости</a>
                    <a class="menu_nav_item" href="">Статьи</a>
                    <a class="menu_nav_item" href="">что будет с Казахстаном</a>
                </div>
                <div class="menu_links">
                    <a  href=""><img src="https://tengrinews.kz/tengri_new/img/menu-lang.svg" alt=""></a>
                    <a href=""><img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt=""></a>
                </div>
            </div>
            <a href="" class="tn-urgent">
                <div class="tn-urgen-message">
                    Подписывайтесь на канал Tengrinews.kz в WhatsApp
                </div>
            </a>
            <div class="menu-open active" *ngIf="!this.flag">
                <form class="menu-opened_search" action="">
                    <input class="menu-opened_search_text" type="search" name="text" placeholder="Найти в TengriNews">
                    <input class="menu-opened_search_submit" type="submit" value="Поиск">
                </form>
                <div class="menu-opened_projects">
                    <div class="menu-opened_projects_item">
                        <a class="news a_hover" href="https://tengrinews.kz/"><img src="https://tengrinews.kz/edu/img/header-tengri.svg"></a>
                        <span><a href="https://tengrinews.kz/">Новости</a></span>
                        <span><a href="https://tengrinews.kz/read/">Почитай</a></span>
                        <span><a href="https://tengrinews.kz/listen/">Послушай</a></span>
                        <span><a href="https://tengrinews.kz/tv/">TengriTV</a></span>
            
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="life a_hover" href="https://tengrinews.kz/mixnews/"><img src="https://tengrinews.kz/edu/img/header-life.svg"></a>
                        <span><a href="/handsomely/">Красиво</a></span>
                        <span><a href="/profitably/">Выгодно</a></span>
                        <span><a href="/healthy/">Полезно</a></span>
                        <span><a href="/curious/">Любопытно</a></span>
                        <span><a href="/horoscopes/">Гороскопы</a></span>
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="sport a_hover" href="https://tengrinews.kz/tengri-sport/"><img src="https://tengrinews.kz/edu/img/header-sport.svg"></a>
                        <span><a href="https://tengrisport.kz/">Спорт</a></span>
                        <span><a href="https://tengrisport.kz/around_sports/">Вокруг спорта</a></span>
                        <span><a href="https://tengrisport.kz/trends/">Тренды</a></span>
                        <span><a href="https://tengrisport.kz/champions-league/">Лига чемпионов</a></span>
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="travel a_hover" href="https://tengritravel.kz/"><img src="https://tengrinews.kz/edu/img/header-travel.svg"></a>
                        <span><a href="https://tengritravel.kz/my-country/">Моя страна</a></span>
                        <span><a href="https://tengritravel.kz/around-the-world/">Вокруг света</a></span>
                        <span><a href="https://tengritravel.kz/travel-notes/">Путевые заметки</a></span>
                        <span><a href="https://tengritravel.kz/zailiyskiy-alatau-routes/">Маршруты Заилийского Алатау</a></span>
                        <span><a href="https://tengritravel.kz/sayakhat-time/">Саяхат Time</a></span>
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="guide a_hover" href="https://tengrinews.kz/"><img src="https://tengrinews.kz/guide/img/header-guide.svg"></a>
                        <span><a href="/guide-info">Полезная информация</a></span>
                        <span> <a href="/guidehosts">Где остановиться</a></span>
                        <span><a href="/guidefoods">Где поесть</a></span>
                        <span><a href="/guide-view_objects">Что посмотреть</a></span>
                        <span><a href="/guideleisure">Чем заняться</a></span>
                        <span><a href="/guideshops">Что купить</a></span>
                        <span><a href="/guideroutes">Маршруты</a></span>
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="edu a_hover" href="tengri-education/"><img src="https://tengrinews.kz/guide/img/header-edu.svg"></a>
                        <span><a href="/guideroutes">Новости</a></span>
                        <span><a href="/educationscience">Образование</a></span>
                        <span><a href="/tengri-institutions">Учебные заведения</a></span>
                    </div>
                    <div class="menu-opened_projects_item">
                        <a class="news" href="https://tengriauto.kz/"><img src="https://tengrinews.kz/edu/img/header-auto.svg"></a>
                        <span><a href="/news/">Новости</a></span>
                        <span><a href="/read/">Почитай</a></span>
                        <span><a href="/find-out/">Посмотри</a></span>
            
                    </div>
                </div>
                <div class="menu_opened_links">
                    <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt="">
                    <a href="">О проекте</a>
                    <a href="">Контакты редакции</a>
                    <a href="">Вакансии</a>
                    <a href="">Реклама</a>
                </div>
            </div>
            <div class="global_news_lent" *ngIf="this.flag">
                <div class="news_lent">
                  <div class="news_lent_right">
                    <div class="par_big">
                        <div class="news_big0">
                            <img src="{{newss[0].image_url}}" alt="" [routerLink]="['/news1']" >
                            <!-- Routerlink: send news_url to news1 component -->

                            <span class="super_item0"><a href="{{newss[0].newss_url}}">{{newss[0].title}}</a></span>
                            <div>
                                <span> <p>"{{newss[0].meta}}"</p></span>
                            </div>
                        </div>
                    </div>
                    <div class="news_little">
                        <div class="par_little">
                            <div class="for" *ngFor="let news of newss.slice(1); let i = index">
                                <ng-container *ngIf="i >= 2 && i <= 7">
                                  <img src="{{ news.image_url }}" alt="" [routerLink]="['/news1']" (click)="sendNewsUrl(news.news_url)">
                                  <span class="super_item"><a href="{{ news.news_url }}" [routerLink]="['/news1']">{{ news.title }}</a></span>
                                  <div>
                                    <span><p>"{{ news.meta }}"</p></span>
                                  </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>    
                  <div class="news_lent_scroller">
                    <div class="tab-btn-container">
                        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="latest">
                        <label for="tab-btn-1">Последние</label>
                      
                        <input id="tab-btn-2" name="tab-btn" type="radio" value="popular">
                        <label for="tab-btn-2">Пoпулярные</label>
                      </div>
                    <div class="tab_content">
                        <div class="one_news" *ngFor="let item of array; let i = index">
                            <span class="main-news_top_item_title">
                                <a href="/kazakhstan_news/sklad-s-pokryishkami-zagorelsya-v-astane-531658/">Склад с покрышками загорелся в Астане</a>
                            </span>
                            <div class="main-news_top_item_meta">
                                <span>
                                    <time>Сегодня 00:09</time>
                                </span>
                             </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="global_news_lent2" *ngIf="this.flag2">
                <div class="sub_head">
                    <h2>Cтатьи</h2>
                    <img src="https://tengrinews.kz/tengri_sport/img/head-arrow.svg" alt="">
                    <span class="subhead-tags">
                        <a href="/article/" class="subhead-tags_read">Статьи</a>
                        <a href="/conference/" class="subhead-tags_read">Интервью</a>
                        <a href="/opinion/" class="subhead-tags_read">Блоги и мнения</a>
                        <a href="/economic/" class="subhead-tags_read">Экономика</a>
                        <a href="/culture/" class="subhead-tags_read">Культура</a>
                        <a href="/medicine/" class="subhead-tags_read">Медицина</a>
                        <a href="/science/" class="subhead-tags_read">Наука</a>
                        <a href="/tech/" class="subhead-tags_read">Технологии</a>
                    </span>
                </div>
                <div class="main_news">
                    <div class="main_news_top">
                        <div class="for2" *ngFor="let news of newss.slice(8, 12); let i = index">
                            <div class="img_n">
                                <a href="{{news.news_url}}">
                                    <img src="{{news.image_url}}" alt="">
                                </a>
                            </div>
                            <div class="refer">
                                <a href="{{news.news_url}}">{{news.title}}</a>
                            </div>
                            <div class="date_comm">
                                <span>{{news.date_time}}</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>