<body>
    <div>
        <header class="headerHome">
            <div class="header_sub container">
                <div class="headerComponent">
                    <a href="">NEWS</a>
                    <a href="">LIFE</a>
                    <a href="">SPORT</a>
                    <a href="">TRAVEL</a>
                    <a href="">GUIDE</a>
                    <a href="">EDU</a>
                    <a href="">AUTO</a>
                </div>
                <div class="headerComponent2">
                    <a class="header_sub_links_item" href="https://tengrinews.kz/page/contact/">Редакция<img src="https://tengrinews.kz/tengri_new/img/phone.svg"> +7 (777) 777 77 77</a>
                    <a class="header_sub_links_item" href="https://alashmg.kz/ru/advertising/project/tengrinews">Реклама</a>
                </div>
            </div>
        </header>
        <main>
            <div class="menu">
                <div class="menu_nav">
                    <div class="menu_burger active" (click)="navigateToComponent()">
                       <a [routerLink]="['/about']"><img src="https://tengrinews.kz/edu/img/burger.svg" alt=""></a> 
                    </div>
                    <a class="menu_logo" href=""> <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt=""></a>
                    <a class="menu_nav_item" href="">Новости</a>
                    <a class="menu_nav_item" href="">Статьи</a>
                    <a class="menu_nav_item" href="">что будет с Казахстаном</a>
                </div>
                <div class="menu_links">
                    <a  href=""><img src="https://tengrinews.kz/tengri_new/img/menu-lang.svg" alt=""></a>
                    <a href=""><img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt=""></a>
                </div>
            </div>
            <a href="" class="tn-urgent">
                <div class="tn-urgen-message">
                    Подписывайтесь на канал Tengrinews.kz в WhatsApp
                </div>
            </a>
        </main>
    </div>
</body>