
.Global{
    width: 100%;
    height: 3000px;
    background-color: #edeeed;
    font-family: Inter;
}

.Global a {

    text-decoration: none;
}
header.headerHome{
    background-color: rgb(0, 0, 0); 
}
.headerComponent{
    padding: 0 0 0 24px;
    display: flex;
}
.headerComponent a {
    color: rgb(236, 236, 236);
    padding: 22px 0 15px;
    margin: 0 24px 0 0;
    font-family: AlbertSans Regular;
    color: #fff;
}
.header_sub_links_item {
    margin: 0 12px;
}
.headerComponent{
    margin: 0 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header_sub_links {
    position: relative;
    font-size: 12px;
    font-family: Inter Medium;
    color: #fff;
}
.headerHome a {
    color: #fff;
}
.container{
    width: 87%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.header_sub{
    display: flex; /* Расположить дочерние элементы в горизонтальной линии */
    align-items: center; 
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: #fff;
}
.main_global{
    height: 100%;
}
/* menu */
main{
    width: 87%;
    height: 100%;
    max-width: 87%px; 
    margin: 0 auto;
}
.menu{

    box-sizing: border-box;
    position: relative;
    display: flex;   
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 24px;
    border-bottom: 2px solid #eaeaec;
    background: #fff;
    font-family: Inter;
}

.menu_nav{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.menu_burger.active {
    display: block;
}
.menu_burger{
    cursor: pointer;
}
.menu_nav .menu_logo {
    margin: 0 48px 0 24px;
}
.menu_nav a {
    margin: 0 10px;
    font-size: 14px;
    font-family: Inter SemiBold;
    color: #000;
}
.menu_nav_item{
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.menu_links{
    display: flex;   
    position: relative;
}
.menu_links img{
    margin: 0 0 0 12px;
    cursor: pointer;
    display: flex;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.menu_nav_item:hover {
    color: green !important; /* Изменение цвета текста при наведении на ссылку */
    font-weight: bold; /* Сделать текст жирным */
}
.menu_links a:hover img {
    filter: brightness(150%); /* Применение светлого оттенка к изображению при наведении */
}

.menu_links a img {
    transition: filter 0.3s ease; /* Добавление плавного эффекта перехода */
}
.tn-urgent{
    background: linear-gradient(90deg, #32a801, #32a801 51%, #32a801);
    display: grid;
    padding: 0 5px;
    align-items: center;
    height: 40px;
    grid-template-columns: auto 24px;
    grid-gap: 8px;
    text-decoration:none;
}
.tn-urgen-message{
    font-family: Inter SemiBold;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -.16px;
    color: #fff;
    text-align: center;
    padding-left: 30px;
}
.menu-open.active{
    width: 87%; 
    height: 100%;
    opacity: 1;   
    transition: .4s;
    z-index: 99;
}
.menu-opened {
    position: absolute;
    padding: 16px 24px;
    box-sizing: border-box;
    background: #fff;   
}
.menu-open a {
    color: black;
    text-decoration: none;
}
.menu-opened_search {
    margin: 20px 0 32px;
}
.menu-opened_search_text {
    width: 94%;
    padding: 7px 12px;
    border: 1px solid #d4d5d7;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    line-height: 24px;
}

.menu-opened_projects {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 5vh;
}
.menu-opened_projects_item {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 154px;
}
.menu-opened.active a {
    color: #000;
}
.menu-opened_projects_item .a_hover {
    min-height: 80px;
}
.news img {
    border-bottom:4px solid #00ab25;
}
.menu-opened_projects_item img {
    margin: 0 0 24px;
    padding: 0 0 20px;
}
.menu-opened_projects_item span {
    margin: 0 0 8px;
    font-size: 14px;
    font-family: Inter Medium;
    line-height: 20px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.menu-opened.active a {
    color: #000;
    text-decoration: none;
}
.life img{
    border-bottom: 4px solid #00c5b0;
}
.sport img{
    border-bottom: 4px solid red;
}

.travel img{
    border-bottom: 4px solid rgb(7, 70, 195);
}
.guide img{
    border-bottom: 4px solid rgb(10, 204, 84);
}
.edu img{
    border-bottom: 4px solid rgb(204, 126, 10);
}

.menu_opened_links {
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали */
}
.menu_opened_links img {
    margin-right: 70px; /* Добавляем небольшое расстояние между логотипом и ссылками */
}
.menu_opened_links a{
    margin-right: 19px;
}
.menu_opened_links{
    border-top:1px solid black;
}



.global_news_lent{
    width: 100%; /* Устанавливаем ширину 100% */
    height: 1400px; /* Устанавливаем высоту 1000px */
     /* Добавляем отступ сверху */
     position: relative;
}

.news_lent{
    position: absolute;
    margin-top: 20px;
    position: relative;/*  Устанавливаем позиционирование relativeу */
    width: 100%; /* Устанавливаем ширину 100% */
    /* border:solid 4px #000; Устанавливаем пунктирную рамку */
    background-color: #ffffff;
    display: flex; 
    overflow: hidden;
    border-radius: 10px;
}
.news_lent_scroller{
    margin-top: 10px;
    margin-left: 74.5%; /* Устанавливаем отступ слева в 74.5% */
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    width: 25%; /* Устанавливаем ширину 25% */
    height: 100%; /* Устанавливаем высоту 90% */
    /* border:solid 4px #dc1414; Устанавливаем пунктирную рамку */
}


.news_lent_right{
    margin-top: 10px;
    width: 70%; /* Устанавливаем ширину 70% */
    height: 100%; /* Устанавливаем высоту 100% */
    /* border:solid 4px #4dc416; Устанавливаем пунктирную рамку */
    overflow: hidden;
}
.par_big{
    height: 30%;
    width: 90%;
    margin-left: 10px;
}
.news_big0{
    width: 100%;
    display: block; /* Разместить каждый в своей строке */
    margin-bottom: 10px; /* Добавить отступ между контейнерами */
    position: relative; /* Для правильного позиционирования вложенных элементов */
    overflow: hidden; /* Предотвращаем выход содержимого за пределы контейнера */
    display: inline-block; /* Для того, чтобы элементы выравнивались в строку */
}
.news_big0 img{
    width: 100%;
    display: block; /* Разместить каждый в своей строке */
    margin-bottom: 10px; /* Добавить отступ между контейнерами */
    display: block; /* Убираем пробелы, которые могут возникнуть вокруг изображения */
    width: 100%; /* Чтобы изображение занимало всю доступную ширину */
    height: auto; /* Автоматический подбор высоты для сохранения пропорций */
}
.super_item0 {
    
    position: absolute; /* Позиционируем элемент абсолютно внутри родительского контейнера */
    top: 0; /* Располагаем элемент относительно верхнего края родительского контейнера */
    left: 0; /* Располагаем элемент относительно левого края родительского контейнера */
    color: aliceblue;
    padding: 19px; /* Добавляем отступы для текста */
}
.super_item0 a{
    
    color: aliceblue;
   font-size: 20px;
}

.news_little{
    width: 100%;
    /* border: 3px solid rgb(14, 55, 217); */
    overflow: hidden; /* Предотвращаем выход содержимого за пределы контейнера */
    /* display: inline-block; Для того, чтобы элементы выравнивались в строку */
}
.par_little{
    width: 100%;
    position: relative; /* Для правильного позиционирования вложенных элементов */
    overflow: hidden; /* Предотвращаем выход содержимого за пределы контейнера */
    display: inline-block; /* Для того, чтобы элементы выравнивались в строку */
    display: flex;
    flex-wrap: wrap;
}

.for{
    width: 40%;
    padding: 10px;
    position: relative; /* Для правильного позиционирования вложенных элементов */
    overflow: hidden; /* Предотвращаем выход содержимого за пределы контейнера */
    display: inline-block; /* Для того, чтобы элементы выравнивались в строку */
}


.super_item {
    top: 0; 
    left: 0; 
    color: aliceblue;
    padding: 19px; /* Добавляем отступы для текста */
}
.super_item a{
    
    color: black;
   font-size: 18px;
}






.tab-btn-container {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .tab-btn-container label {
    padding: 5px 10px;
    cursor: pointer;
  }


  .tab-btn-container input[type="radio"] {
    display: none;
  }

  .tab-btn-container input[type="radio"]:checked + label {
    background-color: #20ac1c;
  }

  .one_news{
    margin: auto;
    border-top: solid 0.5px black;
    width: 90%;
    margin-top: 5px;
  }
  .one_news a{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tab_content {
    height: 60%;
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
}
.main-news_top_item_meta{
    margin-top: 10px;
}




.global_news_lent2{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.sub_head {
    margin-top: 100px;
    border-top:solid 2px #20ac1c;
    margin-left: 10px;
    display: flex; 
    align-items: center; 
}

.subhead-tags {
    display: flex; 
    gap: 10px; 

}

.subhead-tags a {
    text-decoration: none; 
    color: black;
}



.img_n {
    width: 200px;
    height: 70px;

}

.img_n img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.main_news_top {
    display: flex; 
    flex-wrap: nowrap;
}

.for2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.refer {
    margin-top: 50px;
}

.refer a{
    color: black;
    font-style: normal;
}

.date_comm{
    color: #eaeaec;
}